@model Librarymanagement.Models.suggestion

@{
    ViewData["Title"] = "Approve";
}

<h2>Approve</h2>
<a asp-action="Viewsuggestion">Back to page</a>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Approve">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SuggestionId" class="control-label"></label>
                <input asp-for="SuggestionId" class="form-control" />
                <span asp-validation-for="SuggestionId" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookPublishedYear" class="control-label"></label>
                <input asp-for="BookPublishedYear" class="form-control" />
                <span asp-validation-for="BookPublishedYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookAuthor" class="control-label"></label>
                <input asp-for="BookAuthor" class="form-control" />
                <span asp-validation-for="BookAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookCategory" class="control-label"></label>
                <input asp-for="BookCategory" class="form-control" />
                <span asp-validation-for="BookCategory" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Approve" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


