
@{
    ViewData["Title"] = "Admin";
}

<h2>WELCOME ADMIN</h2>

<thead>
    <tr>
        @Html.ActionLink("BOOKS", "BOOKS", "books")
        <br>
        @Html.ActionLink("SUGGESTIONS", "viewsuggestion", "suggestions")
        <br>
        @Html.ActionLink("REQUEST", "viewrequest", "requests")
    </tr>
</thead>

