@model Librarymanagement.Models.UserDetails
@{
    ViewData["Title"] = "Home Page";
}

<h2>WELCOME TO LIBRARY</h2>

@Html.ActionLink("Register", "Register", "Home")
@Html.ActionLink("Login", "Login", "Home")



















